<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Admin Register</h5>

                    <form #registerForm="ngForm" class="form-signin" novalidate>

                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" [(ngModel)]="user.name" name="name" class="form-control" #name="ngModel"
                                placeholder="Name" required autofocus>

                            <div *ngIf='name.invalid && name.dirty' class="danger">
                                Required Field**
                            </div>
                        </div>



                        <div class="form-group">
                            <label>Email address</label>
                            <input type="email" [(ngModel)]="user.email" name="email" #email="ngModel"
                                class="form-control" placeholder="Email address" required autofocus
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

                            <div class="danger" *ngIf="email.touched">
                                <p *ngIf="email.errors?.required">Required field**</p>
                                <p *ngIf="email.errors?.pattern">Not a valid Email**</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" [(ngModel)]="user.phone" name="phone" #phone="ngModel"
                                class="form-control" placeholder="Phone Number" maxlength="10" minlength="10" required
                                autofocus pattern="^[0-9]*$">
                            <div *ngIf='phone.invalid && phone.dirty' class="danger">
                                Required Field**
                            </div>
                        </div>


                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" [(ngModel)]="user.password" name="password"
                                #password="ngModel" placeholder="Password" required>
                            <div *ngIf='password.invalid && password.dirty' class="danger">
                                Required Field**
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Gender</label>
                            <select class="form-control" aria-label="Default select example" [(ngModel)]="user.gender"
                                name="gender" #gender="ngModel">
                                <option disabled selected>Please select gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Others</option>
                            </select>


                        </div>
                        <div class="form-group">
                            <label>Date of birth</label>
                            <input type="date" class="form-control" [(ngModel)]="user.date_of_birth"
                                name="date_of_birth" #date_of_birth="ngModel" placeholder="date_of_birth" required>
                            <div *ngIf='date_of_birth.invalid && date_of_birth.dirty' class="danger">
                                Required Field**
                            </div>
                        </div>



                        <button [disabled]="registerForm.invalid" (click)="register()"
                            class="btn btn-lg btn-success btn-block text-uppercase" type="submit">Register</button>
                        <hr class="my-4">
                    </form>
                    <a [routerLink]="['/auth/login']">
                        <p>Already Have and account? Click here!</p>
                    </a>
                    <a [routerLink]="['/home']">
                        <p>Home</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>