.card-title {
    font-family: "Montserrat Alternates", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}

.btn-block .submit {
    width: 100px;
}

.btn-block .cancel {
    width: 100px;
}

.buttons {
    text-align: center;
}


agm-map {
    height: 300px;
  }
  
  
  * {
    font-family: Lato;
  }
  
  a {
    color: darkblue;
  }