.card-body {
    height: 23rem;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5), 0 17px 50px 0 rgba(0.2, 0.3, 0.2, 0.5);
    margin-top: 15%;
}

.verify {
    width: 100px;
    height: auto;
    padding: 1px;
    margin-top: 1.5rem;
}

.heading {
    text-align: center;
    text-transform: uppercase;
}
