.card-body {
    height: 23rem;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    margin-top: 15%;
}

.verify {
    width: 100px;
    height: auto;
    padding: 1px;
    margin-top: 1.5rem;
}

.heading {
    text-align: center;
    text-transform: uppercase;
}

.para {
    text-align: center;
}
