<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class=" card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Change Password</h5>

                    <form #loginForm="ngForm" class="form-signin">

                        <div class="form-group">
                            <label>Current Password</label>
                            <input type="password" class="form-control" [(ngModel)]="passwords.oldPassword"
                                name="oldPassword" placeholder="Current Password" #oldPassword="ngModel" required>

                            <div *ngIf='oldPassword.invalid && oldPassword.dirty' class="danger">
                                Required Field**
                            </div>
                        </div>

                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" class="form-control" [(ngModel)]="passwords.newPassword"
                                name="newPassword" placeholder="New Password" #newPassword="ngModel" required>

                            <div *ngIf='newPassword.invalid && newPassword.dirty' class="danger">
                                Required Field**
                            </div>
                        </div>



                        <button [disabled]="loginForm.invalid" (click)="changePassword()"
                            class="btn btn-lg btn-success btn-block text-uppercase" type="submit">submit</button>
                        <hr class="my-4">
                    </form>




                    <a [routerLink]="['/home']">
                        <p>Retrun back to Home</p>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>