<!-- Navbar Header Component -->
<header>
    <app-navbar></app-navbar>

</header>



<main>
    <div class="container">

        <div class="add-btn mt-3">
            <button class="btn btn-success" routerLink="/add-property">Add Your Property</button>

        </div>


        <div class="row center mt-3">

            <div class=" col-lg-3 card">
                <h3>House</h3>
                <img class="cardImg"
                    src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
                <p>descriptionasd askdj laksjdlk ajsdlkj sa
                    <button class="glow-on-hover" type="button">Remove from Favourites</button>
                </p>
            </div>

            <div class=" col-lg-3 card">
                <h3>House</h3>
                <img class="cardImg"
                    src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
                <p>descriptionasd askdj laksjdlk ajsdlkj sa</p>
            </div>


            <div class=" col-lg-3 card">
                <h3>House</h3>
                <img class="cardImg"
                    src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
                <p>descriptionasd askdj laksjdlk ajsdlkj sa</p>
            </div>
        </div>


    </div>
</main>