<!-- Navbar Header Component -->
<header>
    <app-navbar></app-navbar>

</header>



<main>

    <div class="container1">
        <form>

            <div class="wrapper">
                <div class="search-container">
                    <input type="text" class="search" placeholder="Address">
                    <input type="text" class="date-from" placeholder="Property Type">
                    <input type="text" class="date-to" placeholder="Minimum Rooms">
                    <input type="text" class="date-to" placeholder="Maximum Budge">
                    <input type="text" class="date-to" placeholder="City">
                    <input type="text" class="date-to" placeholder="Parking">
                    <button type="submit" class="button">Search</button>
                </div>
            </div>


        </form>

    </div>


    <div class="container">
        <div class="row  mt-3">

            <div class=" col-lg-3 card"
                *ngFor="let property of allProperties | paginate: { itemsPerPage: 6, currentPage: p }">
                <h3 class="heading">{{property.property_type}}</h3>
                <img class="cardImg" src="{{Url + property.images[0].path}}" />
                <p class="address mt-3"><span>Address: </span> {{property.address}}</p>
                <p class="address"><span>Name: </span> {{property.contact_person_name}}</p>
                <p class="address"><span>Contact: </span> {{property.mobile_number}}</p>

                <p class="address"><span>Price: </span> {{property.price}}</p>

            </div>

        </div>
        <div class="center mt-4">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>

    </div>
</main>