<!-- Navbar Header Component -->
<header>
    <app-navbar></app-navbar>

</header>



<main>

    <div class="container1">
        <form>

            <div class="wrapper">
                <div class="search-container">
                    <input type="text" class="search" placeholder="Address">
                    <input type="text" class="date-from" placeholder="Property Type">
                    <input type="text" class="date-to" placeholder="Minimum Rooms">
                    <input type="text" class="date-to" placeholder="Maximum Budge">
                    <input type="text" class="date-to" placeholder="City">
                    <input type="text" class="date-to" placeholder="Parking">
                    <button type="submit" class="button">Search</button>
                </div>
            </div>


        </form>


    </div>


    <div class="container">
        <div class="row center mt-3">

            <div class=" col-lg-3 card">
                <h3>House</h3>
                <img class="cardImg"
                    src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
                <p>descriptionasd askdj laksjdlk ajsdlkj sa
                    <button class="glow-on-hover" type="button">Add to Favourites</button>
                </p>





            </div>

            <div class=" col-lg-3 card">
                <h3>House</h3>
                <img class="cardImg"
                    src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
                <p>descriptionasd askdj laksjdlk ajsdlkj sa</p>
            </div>


            <div class=" col-lg-3 card">
                <h3>House</h3>
                <img class="cardImg"
                    src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
                <p>descriptionasd askdj laksjdlk ajsdlkj sa</p>
            </div>
        </div>

        <div class="row center mt-3">

            <div class=" col-lg-3 card">
                <h3>House</h3>
                <img class="cardImg"
                    src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
                <p>descriptionasd askdj laksjdlk ajsdlkj sa</p>
            </div>

            <div class=" col-lg-3 card">
                <h3>House</h3>
                <img class="cardImg"
                    src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
                <p>descriptionasd askdj laksjdlk ajsdlkj sa</p>
            </div>


            <div class=" col-lg-3 card">
                <h3>House</h3>
                <img class="cardImg"
                    src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
                <p>descriptionasd askdj laksjdlk ajsdlkj sa</p>
            </div>
        </div>

    </div>
</main>