<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-12 mx-auto">
            <div class="card-body">


                <h3 class="heading">Forgot Password?</h3>
                <p class="para">Don't worry! Just fill in your email and we'll help you reset your password.</p>
                <div class="form-group">
                    <input type="email" [(ngModel)]="user.email" name="email" #email="ngModel" class="form-control"
                        placeholder="Enter Email Address" required autofocus
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

                    <div class="danger" *ngIf="email.touched">
                        <p *ngIf="email.errors?.required">Required field**</p>
                        <p *ngIf="email.errors?.pattern">Not a valid Email**</p>
                    </div>
                </div>




                <button [disabled]="registerForm.invalid" (click)="forgotPassword()"
                    class="btn btn-lg btn-success btn-block verify" type="submit">Submit</button>


            </div>
        </div>
    </div>
</div>